---
const year = new Date().getFullYear();
---
<footer>
  <p>
    <a href="https://zenn.dev/logicia32" target="_blank" rel="noopener">Zenn</a>
    <a href="https://github.com/logicia32" target="_blank" rel="noopener">GitHub</a>
  </p>
  <p>© {year} K. NISHIMURA</p>
</footer>
